<!DOCTYPE html>
<html>
 {{template "header"}}
  <title>添加用户</title>  
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </nav>

    <div class="container">
        <h3 class="text-center" >修改信息</h3>
        <form method="post" action="/account?op=manage_acct"  enctype="multipart/form-data">
			{{$mgrs := .Managers}}
			{{with .Acct}}
            <div class="form-group">
                <label>用户名:</label>
                <input type="text" class="form-control" name="Uname" value={{.Uname}} readonly>
            </div>
			<div class="form-group">
                <label>姓名:</label>
                <input type="text" class="form-control" name="Cname"  required="required" minlength="2" max="20" value={{.Cname}}>
            </div>
			<div class="form-group">
                <label>职位:</label>
                <select class="form-control" name="Title" required="required">
				<option value ="Manager" {{if eq .Title "Manager"}} selected = "selected" {{end}} >经理</option>
				<option value="Consulter" {{if eq .Title "Consulter"}} selected = "selected" {{end}} >顾问</option>
				<option value="Secretary" {{if eq .Title "Secretary"}} selected = "selected" {{end}} >文案</option>
				</select>
            </div>
			<div class="form-group">
                <label>经理:</label>
				<select class="form-control" name="Manager" required="required"> 
				<option value =""></option>
				{{$curMgr := .Manager}}
				{{$acctUname := .Uname}}
				{{range $mgrs}}
				{{if ne .Uname $acctUname}}  <!--Don't allow set self as manager-->
				<option value = {{.Uname}} {{if eq $curMgr .Uname}} selected = "selected" {{end}} >{{.Uname}}: {{.Cname}}</option>
				{{end}}
				{{end}}
				</select>
            </div>
			<div class="form-group">
                <label>状态:</label>
                <select class="form-control" name="Status" required="required">
				<option value ="Active" {{if eq .Status "Active"}} selected = "selected" {{end}} >正常</option>
				<option value="Locked" {{if eq .Status "Locked"}} selected = "selected" {{end}} >锁定</option>
				<option value="Disabled" {{if eq .Status "Disabled"}} selected = "selected" {{end}} >禁用</option>
				</select>
            </div>
			{{end}}
			<div class="form-group">
                <label>当前账户密码:</label>
                <input type="password" class="form-control" name="CurPwd" required="required" >
            </div>
			<center>
            	<button type="submit" class="btn btn-danger">确定</button>
				<a class="btn  btn-danger" href="/account">取消</a>
			</center>
        </form>
    </div>

    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
  </body>
</html>

