<!DOCTYPE html>
<html>
{{template "mheader"}}
	<title>登录</title>
</head>

<body>
<section class="cid-qzSo5TIW7e mbr-fullscreen mbr-parallax-background" id="header15-6" data-rv-view="76">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
		<div class="row">
		    <div class="mbr-white col-lg-8 col-md-7 content-container">
		        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-3">
		            注册
		        </h1>
		    </div>
		    <div class="col-lg-8 col-md-1">
		    <div class="form-container">
		        <div class="media-container-column" data-form-type="formoid">
				        <form method="post" action="/account?op=register"  enctype="multipart/form-data">
		            <div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">用户名:</label>
		                <input type="text" class="form-control display-5" name="Uname" required="required" minlength="2" max="20">
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">姓名:</label>
		                <input type="text" class="form-control" name="Cname" required="required" minlength="2" max="20">
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">职位:</label>
						<select class="form-control" name="Title" required="required"> 
						<option value =""></option>
						<option value ="Manager">经理</option>
						<option value="Consulter">顾问</option>
						<option value="Secretary">文案</option>
						</select>
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">经理:</label>
						<select class="form-control" name="Manager" required="required"> 
						<option value =""></option>
						{{range .Managers}}
						<option value = {{.Uname}}>{{.Uname}}: {{.Cname}}</option>
						{{end}}
						</select>
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">密码:</label>
		                <input type="password" class="form-control" name="Pwd" required="required" minlength="1" max="20">
		            </div>
		           	<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">重复密码:</label>
		                <input type="password" class="form-control" name="RePwd" required="required" minlength="1" max="20">
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">邮箱:</label>
		                <input type="email" class="form-control" name="Email" >
		            </div>
					<div class="form-group">
		                <label class="mbr-white col-lg-8 col-md-7 content-container">电话:</label>
		                <input type="tel" class="form-control" name="Mobile" minlength="1" max="20">
		            </div>
					<center>
		            	<button type="submit" class="btn btn-danger">确定</button>
						<a class="btn  btn-danger" href="/contract">取消</a>
					</center>
		        </form>
				
			
		        </div>
		    </div>
		    </div>
		</div>
    </div>
    
</section>


  <section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section>
  
  
  
</body>
</html>