<!DOCTYPE html>
<html>

{{if .RICH}}
{{template "mheader"}}
{{else}}
{{template "header"}}
{{end}}
  <title>账户管理</title>  
  </head>

  <body class="cid-qzO6FIBSpg mbr-white mbr-fullscreen mbr-parallax-background" id="header2-2" data-rv-view="38">
    <div class="container">
        <h3 class="text-center" >账户管理</h3>
        <form method="post" action="/account?op=manage_acct"  enctype="multipart/form-data">
			{{$mgrs := .Managers}}
			{{with .Acct}}
            <div class="form-group">
                <label>用户名:</label>
                <input type="text" class="form-control" name="Uname" value={{.Uname}} readonly>
            </div>
			<div class="form-group">
                <label>姓名:</label>
                <input type="text" class="form-control" name="Cname"  required="required" minlength="2" max="20" value={{.Cname}}>
            </div>
			<div class="form-group">
                <label>职位:</label>
                <select class="form-control" name="Title" required="required">
				<option value ="Manager" {{if eq .Title "Manager"}} selected = "selected" {{end}} >经理</option>
				<option value="Consulter" {{if eq .Title "Consulter"}} selected = "selected" {{end}} >顾问</option>
				<option value="Secretary" {{if eq .Title "Secretary"}} selected = "selected" {{end}} >文案</option>
				</select>
            </div>
			<div class="form-group">
                <label>经理:</label>
				<select class="form-control" name="Manager" required="required"> 
				<option value =""></option>
				{{$curMgr := .Manager}}
				{{$acctUname := .Uname}}
				{{range $mgrs}}
				{{if ne .Uname $acctUname}}  <!--Don't allow set self as manager-->
				<option value = {{.Uname}} {{if eq $curMgr .Uname}} selected = "selected" {{end}} >{{.Uname}}: {{.Cname}}</option>
				{{end}}
				{{end}}
				</select>
            </div>
			<div class="form-group">
                <label>邮箱:</label>
                <input type="email" class="form-control" name="Email" required="required" value={{.Email}}>
            </div>
			<div class="form-group">
                <label>电话:</label>
                <input type="tel" class="form-control" name="Mobile" minlength="1" max="20" value={{.Mobile}}>
            </div>
			<div class="form-group">
                <label>状态:</label>
                <select class="form-control" name="Status" required="required">
				<option value ="Active" {{if eq .Status "Active"}} selected = "selected" {{end}} >正常</option>
				<option value="Locked" {{if eq .Status "Locked"}} selected = "selected" {{end}} >锁定</option>
				<option value="Disabled" {{if eq .Status "Disabled"}} selected = "selected" {{end}}b >禁用</option>
				</select>
            </div>
			{{end}}
			<div class="form-group">
                <label>当前账户密码:</label>
                <input type="password" class="form-control" name="CurPwd" required="required" >
            </div>
			<center>
            	<button type="submit" class="btn btn-danger">确定</button>
				<a class="btn  btn-danger" href="/account">取消</a>
			</center>
        </form>
    </div>
  </body>
</html>

