<!DOCTYPE html>
<html>
 {{template "header"}}
  <title> 账户管理 </title>  
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-hover">
					<thead>
						<tr class="warning">
							<th>
								用户名
							</th>
							<th>
								姓名
							</th>
							<th>
								职位
							</th>
							<th>
								经理
							</th>
							<th>
								邮箱
							</th>
							<th>
								电话
							</th>
							<th>
								创建日期
							</th>
							<th>
								状态
							</th>
							<th>
								操作
							</th>
						</tr>
					</thead>
					<tbody>
						{{$curUsr := .CurUser}}
						{{range .Reporters}}
						<tr 
						{{if eq $curUsr.Uname .Uname}}
						class="success"
						{{end}}
						{{if ne .Status "Active"}}
						class="warning"
						{{end}}
						>
							<td>
								{{.Uname}}
							</td>
							<td>
								{{.Cname}}
							</td>
							<td>
								{{if eq .Title "Admin"}}
								管理员
								{{else if eq .Title "Manager"}}
								经理
								{{else if eq .Title "Consulter"}}
								顾问
								{{else if eq .Title "Secretary"}}
								文案
								{{else}}
								{{.Title}}
								{{end}}
							</td>
							<td>
								{{.Manager}}
							</td>
							<td>
								{{.Email}}
							</td>
							<td>
								{{.Mobile}}
							</td>
							<td>
								{{.CreateDate}}
							</td>
							<td>
								{{if eq .Status "Disabled"}}
								<b>禁用</b>
								{{else if eq .Status "Locked"}}
								<b>锁定</b>
								{{else if eq .Status "Active"}}
								正常
								{{else}}
								未知状态：{{.Status}}
								{{end}}
							</td>
							<td>
							<!--This is not admin and Current is Admin or Current is manager of this-->
							{{if and (ne .Title "Admin") (or (eq $curUsr.Title "Admin") (eq $curUsr.Uname .Manager))}}
								<a href="/account/manage?uname={{.Uname}}">修改</a>
							{{end}}
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
  </body>
</html>

