<!DOCTYPE html>
<html>
 {{template "mheader"}}
  <title> 客户管理 - 更新客户</title>  
  </head>
  <body class="mbr-white cid-qzO6FIBSpg mbr-fullscreen mbr-parallax-background" id="header2-2" data-rv-view="38">
	<!--Disable form if not adim/manager or customer's worker-->
    <div id="container" class="container" Perm={{.Perm}}>
	
	</br><h3 class="text-center" >客户详情</h3>
	
	<form class="col-xs-4" method="post" action="/contract?op=update" onsubmit="postSubmit()" enctype="multipart/form-data">
			{{$Team := .Team}}
			{{$CurUser := .CurUser}}
			{{with .Contract}}
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">  
		    <div class="panel panel-info">  
		        <div class="panel-heading">
		            <h4 class="panel-title">  
		                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" 
						aria-expanded="true" aria-controls="collapse1">  基本信息 </a>  
		            </h4>  
		        </div>  
		        <div id="collapse1" class="panel-collapse collapse" role="tabpanel">  
		            <div class="panel-body">  
		                <div class="form-group">
			                <label>合同号:</label>
			                <input type="number" class="form-control" name="Contract_id" value={{.Contract_id}} readonly>
			            </div>
			            <div class="form-group">
			                <label>序号:</label>
			                <input type="number" class="form-control MgrWrite" name="Seq" 
							value={{.Seq}}>
			            </div>
			            <div class="form-group">
			                <label>客户姓名:</label>
			                <input type="text" class="form-control MgrWrite" name="Client_name" 
							value={{.Client_name}}>
			            </div>
						<div class="form-group">
			                <label>国家:</label>
							<input type="text" class="form-control MgrWrite" name="Country" required value={{.Country}}>
			            </div>
						<div class="form-group">
			                <label>项目:</label>
			                <input type="text" class="form-control MgrWrite" name="Project_type" value={{.Project_type}}>
			            </div>
						<div class="form-group">
			                <label>客户电话:</label>
			                <input type="text" class="form-control" name="Client_tel" value={{.Client_tel}}>
			            </div>
		               	<div class="form-group">
			            	<label>状态:</label>
			                <input type="text" class="form-control" name="Current_state" value={{.Current_state}}>
			            </div>
		            </div>  
		        </div>  
		    </div>
			
		    <div class="panel panel-warning">  
		        <div class="panel-heading">  
		            <h4 class="panel-title">  
		                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" 
						aria-expanded="true" aria-controls="collapse2">服务信息</a>  
		            </h4>  
		        </div>  
		        <div id="collapse2" class="panel-collapse collapse in"  
		            role="tabpanel">  
		            <div class="panel-body">
						<div class="panel-group" id="collapse_cons" role="tablist"  
						    aria-multiselectable="true">
						    <div class="panel panel-info">
						        <div class="panel-heading">  
						            <h5 class="panel-title">  
						                <a id="cons_id" data-toggle="collapse" data-parent="#collapse_cons" href="#collapse_cons1"
										aria-expanded="true" aria-controls="collapse_cons1"> 咨询:</a>{{.Consulters}}
						            </h5>
						        </div>  
						        <div id="collapse_cons1" class="panel-collapse collapse" role="collapse_cons1">  
						            <div class="panel-body">  
										{{range $Team}}
										<input type="checkbox" class="MgrWrite" name="Consulters" value = {{.Cname}}[{{.Uname}}] />{{.Cname}}[{{.Uname}}]</br>
										{{end}}
						            </div>
						        </div>
						    </div>
						</div>
						
						
						<div class="panel-group" id="collapse_sec" role="tablist"  
						    aria-multiselectable="true">
						    <div class="panel panel-info">
						        <div class="panel-heading">  
						            <h5 class="panel-title">  
						                <a id="cons_id" data-toggle="collapse" data-parent="#collapse_sec" href="#collapse_sec1"
										aria-expanded="true" aria-controls="collapse_sec1"> 文案: </a> {{.Secretaries}}
						            </h5>
						        </div>  
						        <div id="collapse_sec1" class="panel-collapse collapse" role="collapse_sec1">  
						            <div class="panel-body">
										{{range $Team}}
										<input type="checkbox" class="MgrWrite" name="Secretaries" value = {{.Cname}}[{{.Uname}}] />{{.Cname}}[{{.Uname}}]</br>
										{{end}}
						            </div>
						        </div>
						    </div>
						</div>
	
						<div class="form-group">
			                <label>录入人:</label>
							<select class="form-control MgrWrite" id="Create_by" name="Create_by" required="required">
							<option value = "N/A">N/A</option>
							{{$cby := .Create_by}}
							{{range $Team}}
							<option value = {{.Uname}} {{if eq $cby .Uname}} selected="selected" {{end}}>{{.Cname}}[{{.Uname}}]</option>
							{{end}}
							</select>
			            </div>
						<div class="form-group">
			                <label>录入日期:</label>
			                <input type="date" class="form-control MgrWrite" name="Create_date" value={{.Create_date}}>
			            </div>
		            </div>  
		        </div>  
		    </div>  
		  
		    <div class="panel panel-danger">
		        <div class="panel-heading">  
		            <h4 class="panel-title">  
		                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" 
						aria-expanded="false" aria-controls="collapse3">日期信息</a>  
		            </h4>  
		        </div>  
		        <div id="collapse3" class="panel-collapse collapse" role="tabpanel">  
		            <div class="panel-body">  
						<div class="form-group">
			                <label>转案:</label>
			                <input type="date" class="form-control" name="Zhuan_an_date" value={{.Zhuan_an_date}}>
			            </div>
						<div class="form-group">
			                <label>递档:</label>
			                <input type="date" class="form-control" name="Didang_date" value={{.Didang_date}}>
			            </div>
						<div class="form-group">
			                <label>档案号:</label>
			                <input type="date" class="form-control" name="Danganhao_date" value={{.Danganhao_date}}>
			            </div>
						<div class="form-group">
			                <label>补料:</label>
			                <input type="date" class="form-control" name="Buliao_date" value={{.Buliao_date}}>
			            </div>
						<div class="form-group">
			                <label>通知面试:</label>
			                <input type="date" class="form-control" name="Interview_date1" value={{.Interview_date1}}>
			            </div>
						<div class="form-group">
			                <label>面试:</label>
			                <input type="date" class="form-control" name="Interview_date2" value={{.Interview_date2}}>
			            </div>
						<div class="form-group">
			                <label>打款通知:</label>
			                <input type="date" class="form-control" name="Pay_date1" value={{.Pay_date1}}>
			            </div>
						<div class="form-group">
			                <label>打款确认:</label>
			                <input type="date" class="form-control" name="Pay_date2" value={{.Pay_date2}}>
			            </div>
						<div class="form-group">
			                <label>省提名:</label>
			                <input type="date" class="form-control" name="Nominate_date" value={{.Nominate_date}}>
			            </div>
						<div class="form-group">
			                <label>递交联邦:</label>
			                <input type="date" class="form-control" name="Federal_date1" value={{.Federal_date1}}>
			            </div>
						<div class="form-group">
			                <label>联邦档案号:</label>
			                <input type="date" class="form-control" name="Federal_date2" value={{.Federal_date2}}>
			            </div>
						<div class="form-group">
			                <label>通知体检:</label>
			                <input type="date" class="form-control" name="Physical_date" value={{.Physical_date}}>
			            </div>
						<div class="form-group">
			                <label>获签:</label>
			                <input type="date" class="form-control" name="Visa_date" value={{.Visa_date}}>
			            </div>
						<div class="form-group">
			                <label>拒签:</label>
			                <input type="date" class="form-control" name="Fail_date" value={{.Fail_date}}>
			            </div>
			            <div style="display:none" class="form-group">
			                <label>附件:</label>
			                <input type="file" class="form-control" name="attachment" >
			            </div>
						{{end}}
		            </div>  
		        </div>  
		    </div>  
		  
		    <div class="panel panel-success">  
		        <div class="panel-heading">  
		            <h4 class="panel-title">  
		                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" 
						aria-expanded="true" aria-controls="collapse4">更新记录</a>  
		            </h4>  
		        </div>  
		        <div id="collapse4" class="panel-collapse collapse" role="tabpanel">  
		            <div class="panel-body">  
						<ol>
						 {{range .Comments}}
							<li>
								<b>{{.Cname}}[{{.Uname}}] - [{{.Date}}]: {{.Content}}</b></br>
								{{if ne .Changes ""}}
								状态变化: {{.Changes}}
								{{end}}
							</li>
							{{end}}
						</ol>
		            </div>  
		        </div>  
		    </div>
		</div>
		
		<div class="form-group">
            <h4>更新:<input type="textarea" class="form-control" name="NewComment"></h4>
		</div>
		
		<center>
			<button type="submit" class="btn  btn-danger">更新</button>
			{{if eq .CurUser.Title "Manager"}}
			<a class="btn  btn-danger" href="/contract/delete?cid={{.Contract.Contract_id}}" onclick="return doConfirm()">删除</a>
			{{end}}
			<a id="#toBotton" class="btn  btn-danger" href="/contract">返回</a>
		</center>
    </form>		
		
	
		
    </div>

  </body>
	<script>
	$(document).ready(function () {
		switch ($('#container').attr('Perm')){
			case "Read"://Disable all
			$('#container').find('input, textarea, button, select').attr('disabled',true);
			break;
			case "ParWrite":
			$('.MgrWrite').attr('disabled',true);
			break;	
		}
    });
	
	function postSubmit()
	{
		$('#container').find('input, textarea, button, select').attr('disabled',false);	
	}
	
	</script>


<script type="text/javascript" src="/static/js/my.js"></script>
</html>
