<!DOCTYPE html>
<html>
 {{template "header"}}
  <title> 首页 - 客户管理</title>  
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>
	<div class="container-fluid success">
		<div class="row">
			<div class="col-md-12">
				<table class="table table-striped table-hover table-bordered" >
					<thead>
						<tr class="warning">
							<form method="post" action="/contract/query"  enctype="multipart/form-data">								
								{{with .Selectors}}
								<th>
									<button type="submit" class="btn btn-success">查询</button>
								</th>
								<th>合同号:
									<select  name="Contract_id">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Contract_id.List}}
											<option value= {{$k}} 
											{{if eq $k $.Selectors.Contract_id.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									客户姓名:
									<select  name="Client_name">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Client_name.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Client_name.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									国家:
									<select  name="Country">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Country.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Country.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									项目:
									<select  name="Project_type">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Project_type.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Project_type.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									咨询:
									<select  name="Consulters">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Consulters.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Consulters.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									文案:
									<select  name="Secretaries">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Secretaries.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Secretaries.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									转案日期:
									<select  name="Zhuan_an_date">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Zhuan_an_date.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Zhuan_an_date.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									录入日期:
								</th>
								<th>
									状态:
									<select  name="Current_state">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Current_state.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Current_state.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								{{end}}
							</form>
						</tr>
					</thead>
					<tbody>
						{{$curUser := .CurUser}}
						{{range .Contracts}}
						<tr>
							<td>
								<a class="btn  btn-success" href="/contract/view?cid={{.Contract_id}}">详情</a>
							</td>
							<td>
								<a href="/contract/query?filter=Contract_id:{{.Contract_id}}">{{.Contract_id}}</a>
							</td>	
							<td>
								<a href="/contract/query?filter=Client_name:{{.Client_name}}">{{.Client_name}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Country:{{.Country}}">{{.Country}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Project_type:{{.Project_type}}">{{.Project_type}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Consulters:{{.Consulters}}">{{.Consulters}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Secretaries:{{.Secretaries}}">{{.Secretaries}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Zhuan_an_date:{{.Zhuan_an_date}}">{{.Zhuan_an_date}}</a>
							</td>
							<td>
								{{.Create_date}}
							</td>
							<td>
								<a href="/contract/query?filter=Current_state:{{.Current_state}}">{{.Current_state}}</a>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function backToHome() {
			window.location.href = "/contract"
			return false;
		}
	</script>
  </body>
</html>

