<!DOCTYPE html>
<html>
 {{template "header"}}
  <title> 首页 - 客户管理</title>  
    	<style>
	html,body {
		height:100%;
		width:100%;
		margin:0;
	
		
		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		
	}
	
	body{
		background: url();
		background-color: rgba(0,0,0,0.1);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器(如QQ浏览器)会读懂 */
	}
	.container {
		margin:auto;
		filter:alpha(opacity=30);
		-moz-opacity:0.3;
	}
    
    
   </style>
  </head>

  <body>
    
	<div class="container-fluid">
        {{template "navbar" .}}
		<div class="row">
			<div class="col-md-12">
				<table class="table" >
					<thead>
						<tr>
							<form method="post" action="/contract/query"  enctype="multipart/form-data">								
								{{with .Selectors}}
								<th></th>
								<th><label>合同号:</label>
									<select  name="Contract_id">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Contract_id.List}}
											<option value= {{$k}} 
											{{if eq $k $.Selectors.Contract_id.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>客户姓名:</label>
									<select  name="Client_name">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Client_name.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Client_name.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>国家:</label>
									<select  name="Country">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Country.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Country.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>项目:</label>
									<select  name="Project_type">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Project_type.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Project_type.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>签约日期:</label>
									<select  name="Contract_date">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Contract_date.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Contract_date.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>顾问:</label>
									<select  name="Consulters">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Consulters.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Consulters.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>文案:</label>
									<select  name="Secretaries">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Secretaries.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Secretaries.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<label>转案日期:</label>
									<select  name="Zhuan_an_date">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Zhuan_an_date.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Zhuan_an_date.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								<th>
									<button type="submit" class="btn btn-success">查询</button>
								</th>
								<th>
									<label>状态:</label>
									<select  name="Current_state">
										<option value="ALL" selected = "selected">全部</option>
										{{range $k,$v := .Current_state.List}}
											<option value= {{$k}}
											{{if eq $k $.Selectors.Current_state.CurSelected }} selected = "selected" {{end}}>{{$k}}</option>
										{{end}}
									</select>
								</th>
								{{end}}
							</form>
						</tr>
					</thead>
					<tbody>
						{{$curUser := .CurUser}}
						{{range $idx, $contract:= .Contracts}}
						<tr>
							<td>
							{{$idx}}
							</td>
							<td>
								<a class="btn  btn-success" href="/contract/view?cid={{.Contract_id}}">{{.Contract_id}}</a>
							</td>	
							<td>
								<a href="/contract/query?filter=Client_name:{{.Client_name}}">{{.Client_name}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Country:{{.Country}}">{{.Country}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Project_type:{{.Project_type}}">{{.Project_type}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Contract_date:{{.Contract_date}}">{{.Contract_date}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Consulters:{{.Consulters}}">{{.Consulters}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Secretaries:{{.Secretaries}}">{{.Secretaries}}</a>
							</td>
							<td>
								<a href="/contract/query?filter=Zhuan_an_date:{{.Zhuan_an_date}}">{{.Zhuan_an_date}}</a>
							</td>
							<td>
								<a class="btn  btn-success" href="/contract/view?cid={{.Contract_id}}">详情</a>
							</td>
							<td>
								<a href="/contract/query?filter=Current_state:{{.Current_state}}">{{.Current_state}}</a>
							</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		function backToHome() {
			window.location.href = "/contract"
			return false;
		}
	</script>
  </body>
</html>

