<!DOCTYPE html>
<html>
 {{template "header"}}
  <title> 客户管理 - 更新客户</title>  
  	<style>	
		html{
		height:100%;
		width:100%;
		margin:0;
		background: url("/static/images/5.jpg") no-repeat center center fixed; 
		
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	
	body{
		background: url();
		background-color: rgba(0,0,0,0.5);/* IE9、标准浏览器、IE6和部分IE7内核的浏览器 */		
		display:flex;  /*Center*/
		
	}
	
	.container {
		margin:auto;
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
	}
	
	li, h1,	label, th, tr{
	  color: #FFF;
	}
    .warn{
		color: #FFFF00;
	}
    
    a.disabled {
       pointer-events: none;
       cursor: default;
    }
	
	</style>
  </head>
  
  
<body >    
	{{$CurUser := .CurUser}}
    {{$Team := .Team}}
    <div class="container" id="mainform" Perm={{.Perm}}>
        <div class="row-fluid">
            <div class="span12">
                <div class="tabbable" id="tabs-338042">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#panel-contract" data-toggle="tab">合同</a>
                        </li>
                        <li>
                            <a href="#panel-attachment" data-toggle="tab">附件</a>
                        </li>
                        <li>
                            <a href="#panel-history" data-toggle="tab">历史</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-contract">
                            <p>
                                <form class="col-xs-16" method="post" action="/contract?op=update" onsubmit="postSubmit()" enctype="multipart/form-data">
                                    {{$CurUser := .CurUser}}
                                    {{$Team := .Team}}
                                        
                                    <div class="row-fluid">
                                        {{with .Contract}}
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" id = "oldContractId" name="oldContractId" value={{.Contract_id}} readonly style="display:none">
                                            <div class="form-group">
                                                <label>合同号:</label>
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                </label><input type="checkbox" class="MgrWrite" id="changeCid" /><label>修改</label>
                                                {{end}}
                                                <input type="text" pattern="[0-9]+" class="form-control" id="Contract_id" name="Contract_id" required="required" readonly value={{.Contract_id}}>
                                            </div>
                                            <div class="form-group">
                                                <label>序号:</label>
                                                <input type="number" class="form-control MgrWrite" name="Seq" 
                                                value={{.Seq}}>
                                            </div>
                                            <div class="form-group">
                                                <label>客户姓名:</label>
                                                <input type="text" class="form-control MgrWrite" name="Client_name" required="required" value={{.Client_name}}>
                                            </div>
                                            <div class="form-group">
                                                <label>客户电话:</label>
                                                <input type="tel" class="form-control MgrWrite" name="Client_tel" value={{.Client_tel}}>
                                            </div>
                                            <div class="form-group">
                                                <label>国家:</label>
                                                <input type="text" class="form-control MgrWrite" name="Country" required="required" value={{.Country}}>
                                            </div>
                                            <div class="form-group">
                                                <label>项目:</label>
                                                <input type="text" class="form-control MgrWrite" name="Project_type" required="required" value={{.Project_type}}>
                                            </div>
                                            <div class="form-group">
                                                <label>签约日期:</label>
                                                <input type="date" class="form-control MgrWrite" name="Contract_date" value={{.Contract_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>状态:</label>
                                                <textarea class="form-control" style="height:110px;overflow-x:visible;overflow-y:visible;"  name="Current_state">{{.Current_state}}</textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>顾问:</label>
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                <a id="modal-consulter" href="#modal-container-consulter" role="button" data-toggle="modal">
                                                {{end}}
                                                    <input type="text" class="form-control" id="Consulters" name="Consulters" readonly value={{.Consulters}}>
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                </a>
                                                {{end}}
                                                
                                            </div>
                                            <div class="form-group">
                                                <label>文案:</label>
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                <a id="modal-secretaries" href="#modal-container-secretaries" role="button" data-toggle="modal">
                                                {{end}}
                                                    <input type="text" class="form-control" id="Secretaries" name="Secretaries" readonly value={{.Secretaries}}>
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                </a>
                                                {{end}}
                                            </div>
                                            <div class="form-group">
                                                <label>录入人:</label>
                                                <select class="form-control MgrWrite" id="Create_by" name="Create_by" required="required">
                                                <option value = "N/A">N/A</option>
                                                {{$cby := .Create_by}}
                                                {{range $Team}}
                                                <option value = {{.Uname}} {{if eq $cby .Uname}} class="MgrWrite" selected="selected" {{end}}>{{.Cname}}[{{.Uname}}]</option>
                                                {{end}}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label>录入日期:</label>
                                                <input type="date" class="form-control MgrWrite" name="Create_date" value={{.Create_date}}>
                                            </div>	
                                            <div class="form-group">
                                                <label>转案:</label>
                                                <input type="date" class="form-control" name="Zhuan_an_date" value={{.Zhuan_an_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>递档:</label>
                                                <input type="date" class="form-control" name="Didang_date" value={{.Didang_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>档案号:</label>
                                                <input type="date" class="form-control" name="Danganhao_date" value={{.Danganhao_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>补料:</label>
                                                <input type="date" class="form-control" name="Buliao_date" value={{.Buliao_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>通知面试:</label>
                                                <input type="date" class="form-control" name="Interview_date1" value={{.Interview_date1}}>
                                            </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>面试:</label>
                                                <input type="date" class="form-control" name="Interview_date2" value={{.Interview_date2}}>
                                            </div>
                                            <div class="form-group">
                                                <label>打款通知:</label>
                                                <input type="date" class="form-control" name="Pay_date1" value={{.Pay_date1}}>
                                            </div>
                                            <div class="form-group">
                                                <label>打款确认:</label>
                                                <input type="date" class="form-control" name="Pay_date2" value={{.Pay_date2}}>
                                            </div>
                                            <div class="form-group">
                                                <label>省提名:</label>
                                                <input type="date" class="form-control" name="Nominate_date" value={{.Nominate_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>递交联邦:</label>
                                                <input type="date" class="form-control" name="Federal_date1" value={{.Federal_date1}}>
                                            </div>
                                            <div class="form-group">
                                                <label>联邦档案号:</label>
                                                <input type="date" class="form-control" name="Federal_date2" value={{.Federal_date2}}>
                                            </div>
                                            <div class="form-group">
                                                <label>通知体检:</label>
                                                <input type="date" class="form-control" name="Physical_date" value={{.Physical_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>获签:</label>
                                                <input type="date" class="form-control" name="Visa_date" value={{.Visa_date}}>
                                            </div>
                                            <div class="form-group">
                                                <label>拒签:</label>
                                                <input type="date" class="form-control" name="Fail_date" value={{.Fail_date}}>
                                            </div>
                                        </div>
                                        {{end}}
                                    </div>
                                    <div class="row-fluid">            
                                        <div class="col-md-12">
                                            <label>更新:</label><textarea class="form-control" style="height:110px;overflow-x:visible;overflow-y:visible;"  name="NewComment"></textarea></br>
                                            <div class="form-group">
                                                <label>添加附件:</label>
                                                <input type="file" class="form-control" name="attachment" multiple="multiple">
                                            </div>
                                            <div class="form-group">
                                                <label>附件描述:</label>
                                                <input type="text" class="form-control" name="attachDescrip">
                                            </div>
                                            
                                            <center>
                                                
                                                <!--
                                                <a id="modal-attachment" href="#modal-container-attachment" role="button" data-toggle="modal">附件<a>
                                                -->
                                                {{if ne .Perm "Read"}}
                                                <button type="submit" id="btn_submit" class="btn  btn-danger">更新</button>
                                                {{end}}
                                                
                                                {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                <a class="btn  btn-danger" href="/attachment/view?cid={{.Contract.Contract_id}}" >管理附件</a>
                                                <a class="btn  btn-danger" href="/contract/delete?cid={{.Contract.Contract_id}}" onclick="return doConfirm()">删除</a>
                                                {{end}}
                                                <a id="#toBotton" class="btn  btn-danger" href="/contract">主页</a>
                                            </center>
                                            
                                        </div>
                                    </div>
                                </form>
                                
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-attachment">
                            <p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        作者
                                                    </th>
                                                    <th>
                                                        日期
                                                    </th>
                                                    <th>
                                                        文件
                                                    </th>
                                                    <th>
                                                        描述
                                                    </th>
                                                    <th>
                                                        删除
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{$CurUser := .CurUser}}
                                                {{range .Attachments}}
                                                <tr>
                                                    <td>
                                                        {{.Author}}
                                                    </td>
                                                    <td>
                                                        {{.Time}}
                                                    </td>
                                                    <td>
                                                        <a href={{.Link}}>{{.Name}}</a>
                                                    </td>
                                                    <td>
                                                        {{.Descrip}}
                                                    </td>
                                                    
                                                    {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                                                    <td>
                                                        <a href="/attachment/delete?cid={{.Contract_id}}&id={{.Id}}">删除</a>
                                                    </td>
                                                    {{end}}
                                                </tr>
                                                {{end}}										
                                            </tbody>
                                        </table>
                                        <center>
                                            <a class="btn  btn-danger" href="/contract/view?cid={{.cid}}">返回</a>
                                        </center>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-history">
                        <p>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ol>
                                            {{range .Comments}}
                                            <li>
                                                <b>{{.Cname}}[{{.Uname}}] - [{{.Date}}]: {{.Content}}</b></br>
                                                {{if ne .Changes ""}}
                                                <label class="warn">状态变化: {{.Changes}}</label>
                                                {{end}}
                                                {{if ne .Attach ""}}
                                                <label class="warn">添加附件: {{.Attach}}</label>
                                                {{end}}
                                            </li>
                                            {{end}}
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    
    




<div class="row">
    <div class="modal fade" id="modal-container-attachment" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        取消
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        附件
                    </h4>
                </div>
                <div class="modal-body" id="consCheckGroup">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
							<h1 class="text-center" >附件列表</h1>
								<table class="table">
									<thead>
										<tr>
											<th>
												作者
											</th>
											
											<th>
												文件
											</th>
											<th>
												删除
											</th>
										</tr>
									</thead>
									<tbody>
										{{$Contract := .Contract}}
										{{range .Attachments}}
										<tr>
											<td>
												{{.Author}}
											</td>
											
											<td>
												<a href={{.Link}}>{{.Name}}</a>
											</td>
											
											<td>
												{{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
												<a href="/attachment/delete?cid={{$Contract.Contract_id}}&id={{.Id}}">删除</a>
												{{end}}
											</td>
										</tr>
										{{end}}										
									</tbody>
								</table>
							</div>
						</div>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
                    <button type="button" class="btn btn-primary" data-dismiss="modal">返回</button>
                </div>
            </div>
        </div>
    </div>
	
	
	
	
	
	
	
	
	
    <div class="modal fade" id="modal-container-consulter" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        取消
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户列表
                    </h4>
                </div>
                <div class="modal-body" id="consCheckGroup">
                {{range $Team}}
                <input type="checkbox" class="TeamConsulter" value = {{.Cname}} />{{.Cname}}[{{.Uname}}]</br>
                {{end}} 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button> 
                   {{if or (eq $CurUser.Title "Manager") (eq $CurUser.Title "Admin")}}
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveConsulter">
                        保存
                    </button>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="modal-container-secretaries" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        取消
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        用户列表
                    </h4>
                </div>
                <div class="modal-body" id="secsCheckGroup">
                {{range $Team}}
                <input type="checkbox" class="TeamSecretary" value = {{.Cname}} />{{.Cname}}[{{.Uname}}]</br>
                {{end}} 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        取消
                    </button> 
                    {{if or (eq .CurUser.Title "Manager") (eq .CurUser.Title "Admin")}}
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveSecretary">
                        保存
                    </button>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</div>
    
    
  </body>
 {{template "script"}}
	<script>
	$(document).ready(function () {
    /*
		var checked = false;
		$("#Consulters").val($("#Consulters").val().replace(/[ ]/g,""));    //去掉空格
		$("#Consulters").val($("#Consulters").val().replace(/[\r\n]/g,""));//去掉回车换行
		var curCons = $("#Consulters").val();
		var conArr=curCons.split("&");
		
		$(".TeamConsulter").each(function(idx, elem){
			for(var i in conArr) {
				if (conArr[i].length>0 && $(elem).val().indexOf(conArr[i])>=0){
					$(elem).prop('checked', true);
					checked = true;
				}
			}	
		});
		if (!checked && curCons.length>0){							
			$(".consCheckGroup").append("<input type='checkbox' class='MgrWrite' name='Consulters' value = '"+curCons+"' checked=true name='Consulters'/>"+curCons);
		}
		
		//Set up the initial values
		checked = false;
		$("#Secretaries").val($("#Secretaries").val().replace(/[ ]/g,""));    //去掉空格
		$("#Secretaries").val($("#Secretaries").val().replace(/[\r\n]/g,""));//去掉回车换行
		var curSecs = $("#Secretaries").val();
		var secArr=curSecs.split("&");
		$(".TeamSecretary").each(function(idx, elem){
			for(var i in secArr) {
				if (secArr[i].length>0 && $(elem).val().indexOf(secArr[i]) >=0){
					$(elem).prop('checked', true);
					checked = true;
				}
			}
		});
		if (!checked && curSecs.length>0){
			$(".secsCheckGroup").append("<input type='checkbox' class='MgrWrite' name='Secretaries' value = '"+curSecs+"' checked=true name='Secretaries'/>"+curSecs);
		}
        */
        
        
        
		switch ($('#mainform').attr("Perm")){
			case "Read"://Disable all
			//readonly do not apply to select and checkbox
			$('#mainform').find('input, textarea, button, select').prop('disabled',true);
			//$('#btn_submit').css("visibility","hidden");
			break;
			case "ParWrite":
			$('.MgrWrite').prop('disabled',true);
			break;
		}
	});
	
	$("#changeCid").change(function() {
		if (!this.checked){
			$("#Contract_id").val($("#oldContractId").val())	
		}
	    $("#Contract_id").prop('readonly', !this.checked)

	});
    
    $("#saveConsulter").click(function(){
        $("#Consulters").val("");
        $(".TeamConsulter").each(function(idx, elem){
			if ($(elem).prop('checked')){
                if ($("#Consulters").val().length == 0){
                    $("#Consulters").val($(elem).val());
                }else{
                    $("#Consulters").val($("#Consulters").val() + "&" + $(elem).val());
                }
            }
		});
        return true;
    });
    
    
    $("#saveSecretary").click(function(){
        $("#Secretaries").val("");
        $(".TeamSecretary").each(function(idx, elem){
            if ($(elem).prop('checked')){
                if ($("#Secretaries").val().length == 0){
                    $("#Secretaries").val($(elem).val());
                }else{
                    $("#Secretaries").val($("#Secretaries").val() + "&" + $(elem).val());
                }
            }
        });
        return true;
    });
	
	function postSubmit()
	{
		$('#container').find('input, textarea, button, select').prop('disabled',false);	
		//$('#Secretaries').prop('disabled',false);	
	}
	
	
	function doConfirm(){
		if (confirm('确认?')) {
	          return true;
	      } else {
	          return false;
	      }
	}
	
	</script>


</html>

