<!DOCTYPE html>
<html>
{{template "mheader"}}
	<title>登录</title>
</head>

<body>
<section class="cid-qzSo5TIW7e mbr-fullscreen mbr-parallax-background" id="header15-6" data-rv-view="76">

    

    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(7, 59, 76);"></div>

    <div class="container align-right">
<div class="row">
    <div class="mbr-white col-lg-8 col-md-7 content-container">
        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
            
        </h1>
    </div>
    <div class="col-lg-4 col-md-5">
    <div class="form-container">
        <div class="media-container-column" data-form-type="formoid">
            <form class="mbr-form" action="/login" method="post">
                <div data-for="uname">
                    <div class="form-group">
                        <h3 class="mbr-white col-lg-8 col-md-7 content-container" for="uname-header15-6">用户名</h3>
						<input type="text" class="form-control px-3" name="uname" data-form-field="Name" placeholder="用户名" required="" id="uname-header15-6">
                    </div>
                </div>
                <div data-for="pwd">
                    <div class="form-group">
						<h3 class="mbr-white col-lg-8 col-md-7 content-container" for="pwd-header15-6">密码</h3>
                        <input type="password" class="form-control px-3" name="pwd" data-form-field="Email" placeholder="密码" required="" id="pwd-header15-6">
                    </div>
                </div>
                <span class="input-group-btn">
					<button type="submit" class="btn btn-secondary btn-form display-4" >登录</button> 
			  		<a class="btn btn-secondary btn-form display-4" href="/account/register">注册</a>
                </span>
            </form>
        </div>
    </div>
    </div>
</div>
    </div>
    
</section>


  <section class="engine"><a href="https://mobirise.co/m">bootstrap table</a></section>
  
  
  
</body>
</html>