{{define "rscript"}}
<!--
  <script type="text/javascript" src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/static/assets/popper/popper.min.js"></script>
  <script type="text/javascript" src="/static/assets/tether/tether.min.js"></script>
  <script type="text/javascript" src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/static/assets/smooth-scroll/smooth-scroll.js"></script>
  <script type="text/javascript" src="/static/assets/jarallax/jarallax.min.js"></script>
  <script type="text/javascript" src="/static/assets/theme/js/script.js"></script>


-->
{{end}}
