<!DOCTYPE html>
<html>
	{{template "mheader"}}
	</head>
<body>

<section class="cid-qzO6FIBSpg mbr-fullscreen mbr-parallax-background" id="header2-2" data-rv-view="38">
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">

                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {{.Message}}
                </p>
                <div class="mbr-section-btn">
					{{if .RedirectTo }}
					<a id ="nxtPage" class="btn btn-md btn-secondary display-4" href={{.RedirectTo}}>返回</a>
					{{else}}
					<a class="btn btn-md btn-white-outline display-4" href="/">返回</a>
					{{end}}                    
                </div>
            </div>
        </div>
    </div>
</section>

<script>
	window.onload = function(){
		cnt = 60
		$("#nxtPage").text("返回"+cnt+"...")
		setInterval(function(){
			cnt--
			$("#nxtPage").text("返回"+cnt+"...")
			if (cnt == 0){
				window.location.href = $("#nxtPage").attr('href')	
			}
			
		}, 1000)
	}
</script>

</body>
</html>