<!DOCTYPE html>
<html>
	{{template "header"}}
	
	</head>
<body>

<section class="cid-qzO6FIBSpg mbr-fullscreen mbr-parallax-background" id="header2-2" data-rv-view="38">

    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">

                </h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-5">
                    {{.Message}}
                </p>
                <div class="mbr-section-btn">
					{{if .RedirectTo }}
					<a id ="nxtPage" class="btn btn-md btn-secondary display-4" href={{.RedirectTo}}>返回</a>
					{{else}}
					<a class="btn btn-md btn-white-outline display-4" href="/">返回</a>
					{{end}}                    
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>

	<script>
		window.onload = function(){
			cnt = 10
			$("#nxtPage").text("返回"+cnt+"...")
			setInterval(function(){
				cnt--
				$("#nxtPage").text("返回"+cnt+"...")
				if (cnt == 0){
					window.location.href = $("#nxtPage").attr('href')	
				}
				
			}, 1000)
		}
	</script>

  <section class="engine"><a href="https://mobirise.co/o">bootstrap button</a></section>
  <script src="/static/assets/web/assets/jquery/jquery.min.js"></script>
  <script src="/static/assets/popper/popper.min.js"></script>
  <script src="/static/assets/tether/tether.min.js"></script>
  <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="/static/assets/jarallax/jarallax.min.js"></script>
  <script src="/static/assets/theme/js/script.js"></script>
  
  
</body>
</html>